<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="login()">
		<ion-item>
			<ion-label>Username:</ion-label>
			<ion-input [(ngModel)]="username" type="text" name="username"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Password:</ion-label>
			<ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
		</ion-item>
		<ion-button type="submit" block>Login</ion-button>	
	</form>
	<form (ngSubmit)="register()">
		<ion-button color="secondary" type="submit" block>Register</ion-button>
	</form>
	<b> {{ loginStatus }} </b>
</ion-content>
